/*

  Material Theme Creator
  Version: 2.0.0

  Author: Artik Man [mail@artik.me, github.com/Artik-Man]
  Docs: https://artik-man.github.io/material-theme-creator/
  GitHub: https://github.com/Artik-Man/material-theme-creator

 */

/*
// Using with pure css
body {
  @include create-variables-from-color('primary', #149c75, 52%);
  @include create-variables-from-color('warn', #d61f0c);

  a {
    color: var(--primary);
    &:hover{
      color: var(--primary-900);
    }
  }

  .warning {
    background: var(--warn-100);
    color: var(--warn-700);
  }
}
*/

/*
// Using with angular material (create theme from 3 colors)
body {
  @include create-variables-from-color('primary', #149c75, 52%);
  @include create-variables-from-color('accent', #19a4b6, 52%);
  @include create-variables-from-color('warn', #d61f0c, 52%);

  $primary-map: create-theme-map('primary');
  $accent-map: create-theme-map('accent');
  $warn-map: create-theme-map('warn');

  @include angular-material-theme(mat-light-theme(mat-palette($primary-map), mat-palette($accent-map), mat-palette($warn-map))); // Light them
//@include angular-material-theme(mat-dark-theme( mat-palette($primary-map), mat-palette($accent-map), mat-palette($warn-map))); // Dark theme
}
 */

/*
// Using with angular material (create theme from 3 color maps)
body {
  @include create-variables-from-map('primary', $mat-teal);
  @include create-variables-from-color('accent', $mat-purple);
  @include create-variables-from-color('warn', $mat-red);

  $primary-map: create-theme-map('primary');
  $accent-map: create-theme-map('accent');
  $warn-map: create-theme-map('warn');

  @include angular-material-theme(mat-light-theme(mat-palette($primary-map), mat-palette($accent-map), mat-palette($warn-map))); // Light them
  //@include angular-material-theme(mat-dark-theme( mat-palette($primary-map), mat-palette($accent-map), mat-palette($warn-map))); // Dark theme
}
 */

@function create-theme-map($theme-name) {
  @return (
          50: #{'var(--' +$theme-name+ '-50)'},
          100:#{'var(--' +$theme-name+ '-100)'},
          200:#{'var(--' +$theme-name+ '-200)'},
          300:#{'var(--' +$theme-name+ '-300)'},
          400:#{'var(--' +$theme-name+ '-400)'},
          500:#{'var(--' +$theme-name+ '-500)'},
          600:#{'var(--' +$theme-name+ '-600)'},
          700:#{'var(--' +$theme-name+ '-700)'},
          800:#{'var(--' +$theme-name+ '-800)'},
          900:#{'var(--' +$theme-name+ '-900)'},
          A100:#{'var(--' +$theme-name+ '-A100)'},
          A200:#{'var(--' +$theme-name+ '-A200)'},
          A400:#{'var(--' +$theme-name+ '-A400)'},
          A700:#{'var(--' +$theme-name+ '-A700)'},
          contrast: (
                  50: #{'var(--' +$theme-name+ '-50-contrast)'},
                  100:#{'var(--' +$theme-name+ '-100-contrast)'},
                  200:#{'var(--' +$theme-name+ '-200-contrast)'},
                  300:#{'var(--' +$theme-name+ '-300-contrast)'},
                  400:#{'var(--' +$theme-name+ '-400-contrast)'},
                  500:#{'var(--' +$theme-name+ '-500-contrast)'},
                  600:#{'var(--' +$theme-name+ '-600-contrast)'},
                  700:#{'var(--' +$theme-name+ '-700-contrast)'},
                  800:#{'var(--' +$theme-name+ '-800-contrast)'},
                  900:#{'var(--' +$theme-name+ '-900-contrast)'},
                  A100:#{'var(--' +$theme-name+ '-A100-contrast)'},
                  A200:#{'var(--' +$theme-name+ '-A200-contrast)'},
                  A400:#{'var(--' +$theme-name+ '-A400-contrast)'},
                  A700:#{'var(--' +$theme-name+ '-A700-contrast)'},
          )
  );
}

@mixin hsl-variables() {
  --hA100: 0.96;
  --hA200: 0.96;
  --hA400: 0.96;
  --hA700: 1;

  --s50: 0.75;
  --s100: 0.8;
  --s200: 0.85;
  --s300: 0.9;
  --s400: 0.95;
  --s600: 0.95;
  --s700: 0.9;
  --s800: 0.85;
  --s900: 0.8;
  --sA100: 0.8;
  --sA200: 0.8;
  --sA400: 1;
  --sA700: 1;

  --l50: 0.15;
  --l100: 0.3;
  --l200: 0.5;
  --l300: 0.7;
  --l400: 0.85;
  --l600: 0.8;
  --l700: 0.6;
  --l800: 0.4;
  --l900: 0.2;
  --lA100: 0.65;
  --lA200: 0.55;
  --lA400: 0.45;
  --lA700: 0.4;

  --light-h: 0;
  --light-s: 0;
  --light-l: 100;
}

@mixin create-color($color, $name) {
  --#{$name}-h: #{str-slice(hue($color) + '', 0, -4)};
  --#{$name}-s: #{str-slice(saturation($color) + '', 0, -2)};
  --#{$name}-l: #{str-slice(lightness($color) + '', 0, -2)};
  --#{$name}: hsl(var(--#{$name}-h), calc(var(--#{$name}-s) * 1%), calc(var(--#{$name}-l) * 1%));
}

@mixin create-variables-from-map($theme-name, $theme-map) {
  // color: var(--primary)
  --#{$theme-name}: #{map-get($theme-map,500)};

  $arr_names: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A400, A700;
  @for $i from 1 through 14 {
    // color: var(--primary-300)
    $index: nth($arr_names, $i);
    --#{$theme-name}-#{$index}: #{map-get($theme-map, $index)};
    --#{$theme-name}-#{$index}-contrast: #{map-get(map-get($theme-map, contrast), $index)};
  }
}

@mixin create-variables-from-color($theme-name, $color, $contrast-threshold:50%) {
  @include create-color($color, $theme-name);
  @include hsl-variables();

  --#{$theme-name+'-contrast-threshold'}: $contrast-threshold;

  $theme-h: '--' + $theme-name + '-h';
  $theme-s: '--' + $theme-name + '-s';
  $theme-l: '--' + $theme-name + '-l';

  $arr_names: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A400, A700;
  @for $i from 1 through 14 {
    $index: nth($arr_names, $i);
    --#{$theme-name}-#{$index}: hsl(
                    var(#{$theme-h}),
                    calc(((var(#{$theme-s}) - var(--light-s)) * var(#{'--s'+$index}) + var(--light-s)) * 1%),
                    calc(((var(#{$theme-l}) - var(--light-l)) * var(#{'--l'+$index}) + var(--light-l)) * 1%)
    );
    --#{$theme-name}-#{$index}-contrast: hsl(
                    0,
                    0%,
                    calc(((((1 - var(#{'--l'+$index})) * 100 + var(#{'--l'+$index}) * var(#{$theme-l})) * 1%) - var(#{'--'+$theme-name+'-contrast-threshold'}, 50%)) * (-100))
    );
  }
}
