@import 'material-theme-creator';
@import 'theming';

* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  pre {
    max-width: 900px;
    overflow: auto;
  }
}

.themes {
  background: white;
  max-width: 920px;
  .theme {
    width: 100%;
    display: flex;
    align-items: center;

    &:after {
      padding: 0 50px 0 20px;
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: center;
    }

    span {
      display: flex;
      width: 50px;
      height: 50px;
      align-items: center;
      justify-content: center;
    }

    $arr_names: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A400, A700;

    $arr_colors: $mat-red, $mat-pink, $mat-purple, $mat-deep-purple, $mat-indigo, $mat-blue, $mat-light-blue, $mat-cyan,
      $mat-teal, $mat-green, $mat-light-green, $mat-lime, $mat-yellow, $mat-amber, $mat-orange, $mat-deep-orange,
      $mat-brown, $mat-grey, $mat-blue-grey;

    $arr_thresholds: 62%, 58%, 65%, 65%, 65%, 58%, 54%, 45%, 38%, 47%, 47%, 38%, 20%, 20%, 38%, 60%, 60%, 60%, 62%;

    @for $c from 1 through 38 {
      &:nth-child(#{$c}) {
        $theme: mat-palette(create-theme-map('theme'));
        @if ($c%2==0) {
          @include create-color(mat-color(nth($arr_colors, $c / 2), 500), 'theme');
          --theme-contrast-threshold: #{nth($arr_thresholds, $c / 2)};

          &:after {
            content: 'Custom Material';
            color: teal;
          }
        } @else {
          margin-top: 20px;
          $theme: mat-palette(nth($arr_colors, ($c + 1) / 2));

          &:after {
            content: 'Google Material';
            color: blue;
          }
        }

        @for $i from 1 through 14 {
          span:nth-child(14n + #{$i}) {
            background-color: mat-color($theme, nth($arr_names, $i));
            color: mat-contrast($theme, nth($arr_names, $i));
          }
        }
      }
    }
  }
}
