@import "lib-test";
@import "switch-theme";
@import "create-theme";
@import "highlight";
@import "common";
@import "material.textfield";
@import "testing";


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: clamp(16px, 1.7vmax, 20px);
  line-height: 1.5;
  font-weight: 300;
  background: linear-gradient(164deg, hsl(clamp(160, calc(var(--my-theme-h) + 160), 420), var(--my-theme-50-s), var(--my-theme-50-l)), white) fixed;
}


h1 {
  margin: 0;
  text-align: center;
  font-weight: inherit;
  font-size: clamp(2em, 5vw, 3em);
}

h2 {
  font-weight: inherit;
  margin: 3em 0 2em;
  font-size: clamp(1.5em, 4vw, 2em);
}

h3 {
  font-weight: normal;
  margin: 3em 0 2em;
  font-size: 1.2em;
}

h4 {
  font-weight: normal;
  font-size: 1em;

  b {
    font-weight: bolder;
  }
}

a {
  color: var(--my-theme-500);
  font-weight: normal;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.page {
  padding: 0 8px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: clamp(50px, 10vh, 100px);
  min-height: 100vh;
}

.header {
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: 500px) {
    grid-template-columns: 72px 1fr 64px;
  }
}

section {
  width: 100%;
  margin-bottom: 48px;
}

ul {
  font-size: 1.2rem;
  line-height: 2;
}

.attention-section {
  border-radius: 4px;
  padding: 1.5em 5px;
  margin: 48px -7px;
  position: relative;
  border: 2px solid;
  width: auto;

  .label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: .9em;
    text-transform: uppercase;
    border-radius: 0 0 4px 0;
    color: white;
    padding: 0 8px;
    font-weight: bold;
  }

  &.warning {
    border-color: #c00;

    .label {
      background-color: #c00;
    }
  }

  &.info {
    border-color: #0c0;

    .label {
      background-color: #0c0;
    }
  }
}

.hidden-xs {
  @media (max-width: 500px) {
    display: none;
  }
}
