label.switch-theme(for="switch-theme" title="Switch theme")
    span.icon
        svg.moon(width="48" height="48")
            use(href="./assets/sprite.svg#moon")
        svg.sun(width="48" height="48")
            use(href="./assets/sprite.svg#sun")

    span.prompt
        svg(width="64" height="64")
            use(href="./assets/sprite.svg#arrow")
        span Click&nbsp;here to&nbsp;switch&nbsp;theme
