// output: false


.page {
  --is-dark-theme: 0;
  --background: hsl(0, 0%, calc((1 - var(--is-dark-theme)) * 85% + 15%));
  --text-color: hsl(0, 0%, calc(var(--is-dark-theme) * 100%));;
  color: var(--text-color);
  font-weight: 400;
  padding: 16px;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;

  @media (prefers-color-scheme: dark) {
    --is-dark-theme: 1;
  }
  @media (prefers-color-scheme: light) {
    --is-dark-theme: 0;
  }
}

#switch-theme {
  position: absolute;

  &:focus-visible {
    + .page {
      .switch-theme {
        outline: auto;
      }
    }
  }

  &:checked + .page {
    @media (prefers-color-scheme: dark) {
      --is-dark-theme: 0;
    }
    @media (prefers-color-scheme: light) {
      --is-dark-theme: 1;
    }

    .switch-theme {
      @media (prefers-color-scheme: dark) {
        .moon {
          transform: translateY(120%);
          transition: all .5s cubic-bezier(0.9, -0.65, 0.45, 0.55);
        }

        .sun {
          transform: translateY(0%);
          transition: all 0.5s cubic-bezier(0.4, 0.45, 0.45, 1.4) 0.4s;
        }
      }

      @media (prefers-color-scheme: light) {
        .moon {
          transform: translateY(0%);
          transition: all 0.5s cubic-bezier(0.4, 0.45, 0.45, 1.4) 0.4s;
        }

        .sun {
          transform: translateY(120%);
          transition: all .5s cubic-bezier(0.9, -0.65, 0.45, 0.55);
        }
      }
    }
  }
}

.theme-background {
  background-color: var(--background);
  width: calc(var(--is-dark-theme) * 200vmax);
  height: calc(var(--is-dark-theme) * 200vmax);
  top: calc(var(--is-dark-theme) * -50vmax);
  left: calc(var(--is-dark-theme) * -50vmax);
  position: fixed;
  border-radius: 50%;
  transition: all .2s linear;
  z-index: -1;
}

.switch-theme {
  --size: 64px;
  width: var(--size);
  height: var(--size);
  margin: 24px 0 0 24px;
  position: relative;
  overflow: hidden;
  display: block;
  cursor: pointer;
  opacity: 0;
  animation: show forwards .5s .5s;

  svg {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
  }

  @media (prefers-color-scheme: light) {
    .moon {
      transform: translateY(120%);
      transition: all .5s cubic-bezier(0.9, -0.65, 0.45, 0.55);
    }

    .sun {
      transform: translateY(0%);
      transition: all 0.5s cubic-bezier(0.4, 0.45, 0.45, 1.4) 0.4s;
    }
  }

  @media (prefers-color-scheme: dark) {
    .moon {
      transform: translateY(0%);
      transition: all 0.5s cubic-bezier(0.4, 0.45, 0.45, 1.4) 0.4s;
    }

    .sun {
      transform: translateY(120%);
      transition: all .5s cubic-bezier(0.9, -0.65, 0.45, 0.55);
    }
  }


}

@keyframes show {
  to {
    opacity: 1;
  }
}
